/* skeleton overrides */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 300; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 2.6rem; }
  h4 { font-size: 2.0rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 0.5rem; }
}

table { 
  margin-bottom: 0;
}



/* highlight.js overrides */
/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
  border-bottom: none;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 20px !important;
  border-bottom: none;
}


/* My own custom classes */
.example {
  height: 500px;
  overflow: scroll;
}
.credits {
  margin-top: 4rem;
  font-size: 80%;
  color: #333;
}